<header>
  <hr class ="hr-top"/>
	<section class="main-nav">
    <nav class="left-nav">
  		<ul>
  			<li class="li-button" id="sections-sidebar-btn">
  				<i class="fa fa-bars"></i>
  				<span>sections</span>
  			</li>
  			<li class="li-button" id="search-modal-btn">
  				<i class="fa fa-search"></i>
  				<span>search</span>
  			</li>
  		</ul>
  	</nav>
    <nav class="right-nav">
      <ul>
        <li>
          <button type="button" name="button">LOG IN</button>
        </li>
        <li class="li-button">
          <i class="fa fa-gear"></i>
        </li>
      </ul>
    </nav>
	</section>
  <hr class="hr-bottom"/>
</header>
