<section class="masthead">
  <section class="language-nav">
    <ul>
      <li>
        <a href="#">CSS</a>
      </li>
      <li>
        <a href="#">HTML</a>
      </li>
      <li>
        <a href="#">Javascript</a>
      </li>
      <li>
        <a href="#">Ruby</a>
      </li>
    </ul>
  </section>
  <section class="logo">
    <img src="/assets/AA_Times_Logo.png" alt="AA Times Logo">
  </section>
  <section>
    <ul class="masthead-links">
      <li>
        <p>
          <time>Tuesday, October 18, 2016</time>
        </p>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-newspaper-o"></i>
          <p class="underline">Today’s Paper</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-video-camera"></i>
          <p class="underline">Video</p>
        </a>
      </li>
      <li>
        <button type="button" name="button">
            <i class="yellow-icon fa fa-sun-o"></i>
            77°F
        </button>
      </li>
      <li>
        <button type="button" name="button">
          AAO <strong>+100%</strong>
        </button>
      </li>
    </ul>
  </section>
</section>
