body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ul li {
  list-style: square inside;
}

ol li {
  list-style: upper-roman;
}

a {
  text-decoration-line: initial;
}
